/* Configuração global  */

body, ul li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}


img{
    max-width: 100%;
    display: block;
}

/*  Menu  */


.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #333;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

/*  Página Layout 1  */

.layout1{
    width: 100%;
}

.layout1 h1{
    text-align: center;
}
.layout1 .flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.layout1 .flex > div{
    flex: 1 1 200px;
    margin: 10px;
}


/*  Página Layout 2  */


.layout2{
    width: 100%;
}


.layout2 .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    gap: 20px;
}

.layout2 .grid > div:nth-child(n +4){
    display: grid;
    grid-template-columns: repeat(2,1fr);   
    gap: 18px;
    align-items: center;
}

.layout2 .grid > div.anuncio{
    grid-column: 1;
    grid-row: 2/5;
    display: block;
}

@media(max-width:600px){
    .layout2 .grid{
        grid-template-columns: repeat(2,1fr);
    }
    .layout2 .grid > div:nth-child(n +4){
        display: block;
    }
    .layout2 .grid > div.anuncio{
        grid-column: auto;
        grid-row: auto;
    }
    
}